.header {
    min-height: 100vh;
    background-color: #ab0534;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px 0;
}

.header__logo {
    flex: 3;
}

.header__content {
    text-align: center;
}

.header__content-title {
    color: #f4f8ff;
}

.header__content-desc {
    color: #f4f8ff;
    font-size: 24px !important;
    font-family: $font;
}

.header__content-img {
    position: relative;
    margin-top: 60px;
    z-index: 9999;
}

.header__content-list {
    position: absolute;
    top :0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}

.header__content-item {
    position: absolute;
    left: 1%;
    top: 64%;
}