.btn-login {
    background-color:  #ab0534;
    border: 0;
    letter-spacing: 1px;
    color: #f2f7ff;
    font-size: 24px;
    box-shadow: 1px 5px 10px #8e042b;
    border-radius: 30px;
    padding: 20px 100px;
    margin-top: 60px;
}