.readmore__link {
    display: inline-block;
    color: #ab0534;
    font-weight: 700;
    text-decoration: none;
}

.readmore__icon{
    color: #ab0534 !important;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}