.user {
    flex: 3;
    text-align: right;
    & i {
        color: var(--text-nav-color);
    }
}

.user__register {
    display: inline-block;
}

.user__login {
    display: inline-block;
}
.user__register::after {
    content: "/";
    margin: 0 9px;
    color: var(--text-nav-color);
}

.user__link {
    text-decoration: none;
    color: var(--text-nav-color);
    font-size: 16px;
    margin-left: 5px;
}